doctype xml

interface
  requires(lib="gtk+" version="3.20")/

  object(class="GtkButton" id="button-search")
    property(name="receives_default") True
    property(name="can_focus") True
    property(name="visible") True
    style: class(name="button")/
    child: object(class="GtkImage" id="search-image")
      property(name="icon-size") 1
      property(name="visible") 1

  object(class="GtkBox" id="page_home")
    property(name="orientation") vertical
    property(name="can_focus") True
    property(name="visible") True
    style: class(name="page")/
    style: class(name="home")/

    child
      object(class="GtkImage" id="logo-image")
        property(name="icon-size") 1
        property(name="visible") 1
        style: class(name="logo")/
      packing
        property(name="expand") False
        property(name="position") 0
        property(name="fill") False

    child
      object(class="GtkBox" id="search-box")
        property(name="can_focus") True
        property(name="visible") True
        style: class(name="search")/

        child
          object(class="GtkEntry" id="entry-search")
            style: class(name="input")/
            property(name="placeholder-text") Enter article name here
            property(name="activates-default") True
            property(name="can_focus") True
            property(name="editable") True
            property(name="visible") True
          packing
            property(name="expand") True
            property(name="position") 0
            property(name="fill") True

      packing
        property(name="expand") False
        property(name="position") 1
        property(name="fill") True