doctype xml

interface
  requires(lib="gtk+" version="3.20")/

  object(class="GtkBox" id="page_home")
    property(name="orientation") vertical
    property(name="can_focus") True
    property(name="visible") True
    style: class(name="home-page")/

    child
      object(class="GtkBox")
        property(name="can_focus") True
        property(name="visible") True
        style: class(name="boxes")/

        child
          object(class="GtkBox")
            property(name="orientation") vertical
            property(name="can_focus") True
            property(name="visible") True
            style: class(name="card-box")/
          packing
            property(name="expand") True
            property(name="position") 0
            property(name="fill") True

        child
          object(class="GtkBox")
            property(name="orientation") vertical
            property(name="can_focus") True
            property(name="visible") True
            style: class(name="card-box")/
          packing
            property(name="expand") True
            property(name="position") 1
            property(name="fill") True

        child
          object(class="GtkBox")
            property(name="orientation") vertical
            property(name="can_focus") True
            property(name="visible") True
            style: class(name="card-box")/
          packing
            property(name="expand") True
            property(name="position") 2
            property(name="fill") True

      packing
        property(name="expand") False
        property(name="position") 0
        property(name="fill") True