object(class="GtkRevealer" id="sidebar")
  property(name="transition_type") slide-left
  property(name="reveal_child") False
  property(name="can_focus") False
  property(name="visible") True
  style: class(name="sidebar-root")/

  child
    object(class="GtkBox" )
      property(name="orientation") vertical
      property(name="can_focus") False
      property(name="visible") True
      style: class(name="sidebar")/

      child
        object(class="GtkBox" id="sidebar-header" )
          property(name="orientation") vertical
          property(name="can_focus") False
          property(name="visible") True
          style: class(name="sidebar-header")/

          child
            object(class="GtkImage" id="sidebar-logo-image")
              property(name="icon-size") 1
              property(name="visible") 1
            packing
              property(name="expand") False
              property(name="position") 0
              property(name="fill") True
          
          child
            object(class="GtkLabel" )
              property(name="label" translatable="yes") Lurkmore
              property(name="can_focus") False
              property(name="visible") True
              style: class(name="sidebar-header-label")/
            packing
              property(name="expand") False
              property(name="position") 1
              property(name="fill") True
        
        packing
          property(name="expand") False
          property(name="fill") True
          property(name="position") 0
      
      child
        object(class="GtkBox" )
          property(name="baseline-position") center
          property(name="orientation") vertical
          property(name="visible") 1
          style: class(name="sidebar-list")/

          child
            object(class="GtkButton" )
              property(name="label" translatable="yes") Home
              property(name="receives_default") True
              property(name="can_focus") True
              property(name="visible") True
              property(name="relief") half
              property(name="xalign") 0.0
              style: class(name="sidebar-list-button")/
            
            packing
              property(name="expand") False
              property(name="position") 0
              property(name="fill") False
          
          child
            object(class="GtkButton" )
              property(name="label" translatable="yes") About
              property(name="receives_default") True
              property(name="can_focus") True
              property(name="visible") True
              property(name="relief") half
              property(name="xalign") 0.0
              style: class(name="sidebar-list-button")/

            packing
              property(name="expand") False
              property(name="position") 1
              property(name="fill") False
              
          child
            object(class="GtkButton" )
              property(name="label" translatable="yes") Settings
              property(name="receives_default") True
              property(name="can_focus") True
              property(name="visible") True
              property(name="relief") half
              property(name="xalign") 0.0
              style: class(name="sidebar-list-button")/
              
            packing
              property(name="expand") False
              property(name="position") 2
              property(name="fill") False
        
        packing
          property(name="expand") True
          property(name="position") 1
          property(name="fill") True