@keyframes ripple_effect {
  to {
    background-size: 1000% 1000%;
  }
}

@keyframes header_ripple_effect {
  from {
    background-image: radial-gradient(circle farthest-corner at center, #42A5F5 0%, transparent 0%);
  }
  to {
    background-image: radial-gradient(circle farthest-corner at center, #42A5F5 100%, transparent 0%);
  }
}

.sidebar.vertical {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #f6f9fa;
  border-right: none;
  min-width: 270px;
}

.sidebar-root {
  padding-right: 5px;
}

.sidebar-list-button {
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1), background-size 0.5s cubic-bezier(0, 0, 0.2, 1), background-image 1s cubic-bezier(0, 0, 0.2, 1);
  background-image: radial-gradient(circle farthest-corner at center, transparent 10%, transparent 0%);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000% 1000%;
  color: rgba(0, 0, 0, 0.62);
  margin: 0 8px 0 0;
  border-radius: 0;
  min-width: 35px;
  outline: none;
}

.sidebar-list-button:hover, .sidebar-list-button:active {
  background: transparent;
  outline: none;
  border: none;
}

.sidebar-list-button:active {
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), background-size 0, background-image 0;
  animation: ripple_effect 0.3s cubic-bezier(0, 0, 0.2, 1) forwards;
  background-image: radial-gradient(circle farthest-corner at center, alpha(currentColor, 0.15) 10%, transparent 0%);
  color: rgba(0, 0, 0, 0.87);
}

.header-title-label {
  color: rgba(0,0,0, 0.75);
  font-size: 16px;
}

.sidebar-header {
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.22), 0 1px 2px rgba(0,0,0,0.34);
  border-bottom: 5px solid #FFF;
  background-color: #FFFFFF;
  padding: 30px 25px;
  min-height: 120px;
}

.sidebar-header-label {
  color: rgba(0, 0, 0, 0.85);
  margin-top: 10px;
  font-weight: 300;
  font-size: 25px;
}

.app_headerbar {
  background-image: linear-gradient(to right, #adc8e5, #89b1d7);
  padding: 0;
}

.background .background.csd {
  -gtk-outline-bottom-right-radius: 0px;
  -gtk-outline-bottom-left-radius: 0px;  
  -gtk-outline-top-right-radius: 2px;
  -gtk-outline-top-left-radius: 2px;
  border-image-width: 0;
  outline-offset: 0px;
  border-radius: 0;
  outline-width: 0;
  border: none;
  padding: 0;
}

.app_headerbar {
  background-image: linear-gradient(to right, #adc8e5, #89b1d7);
  -gtk-outline-bottom-right-radius: 0px;
  -gtk-outline-bottom-left-radius: 0px;
  -gtk-outline-top-right-radius: 2px;
  -gtk-outline-top-left-radius: 2px;
  outline-width: 0px;
  border-radius: 0;
  border: none;
  padding: 0;
}

.headerbar-search {
  background-color: rgba(255,255,255, 0.2);
  transition: all 0.3s ease-in;
  border-radius: 2px;
  margin: 0 15px;

  -gtk-secondary-caret-color: rgba(0,0,0, 0.8);
  color: #FFFFFF;
  font-size: 14px;
  padding: 0 6px;
  border: none;
}

.headerbar-search:focus {
  background-color: rgba(255,255,255, 0.5);
  background-color: transparent;
  border-radius: 2px;
  min-width: 300px;
  
  border: none;
  border-bottom: 2px solid #FFF;
}

.menu-button {
  background-color: transparent;
  transition: all 0.2s ease;
  margin: 0 8px 0 0;
  border-radius: 0;
  min-width: 35px;
  outline: none;
  border: none;
}

.menu-button:hover, .menu-button:active {
  background-color: transparent;
  outline: none;
  border: none;
}

.menu-button:active {
  background-color: rgba(0,0,0, 0.4);
  outline: none;
  border: none;
}

.app_headerbar_radio .image-button.radio {
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), background-size 0.5s cubic-bezier(0, 0, 0.2, 1), background-image 1s cubic-bezier(0, 0, 0.2, 1);
  background-image: radial-gradient(circle farthest-corner at center, transparent 10%, transparent 0%);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000% 1000%;
  color: rgba(0, 0, 0, 0.62);
  
  border-radius: 50%;
  min-height: 30px;
  min-width: 30px;
  border: none;
  opacity: 0.7;
}

.app_headerbar_radio .image-button.radio:checked {
  background-color: transparent;
  color: #FFFFFF;
  border: none;
  opacity: 1;
}

.app_headerbar_radio .image-button.radio:hover .image-button.radio:checked:hover {
  border: none;
}

.app_headerbar_radio .image-button.radio:active {
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1), background-size 0, background-image 0;
  animation: ripple_effect 0.3s cubic-bezier(0, 0, 0.2, 1) forwards;
  background-image: radial-gradient(circle farthest-corner at center, alpha(currentColor, 0.15) 10%, transparent 0%);
  color: rgba(0, 0, 0, 0.87);
  background-size: 0% 0%;
  border: none;
}
