@keyframes ripple_effect {
  to {
    background-size: 1000% 1000%;
  }
}

@keyframes header_ripple_effect {
  from {
    background-image: radial-gradient(circle farthest-corner at center, #42A5F5 0%, transparent 0%);
  }
  to {
    background-image: radial-gradient(circle farthest-corner at center, #42A5F5 100%, transparent 0%);
  }
}

.sidebar.vertical {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #E0E0E0;
  border-right: none;
  min-width: 270px;
}

.header-title-label {
  color: rgba(0,0,0, 0.75);
  font-size: 16px;
}

.sidebar-header {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-bottom: 5px solid #FFF;
  background-color: #2196F3;
  padding: 30px 25px;
  min-height: 120px;
}

.sidebar-header-label {
  color: rgba(255, 255, 255, 0.95);
  margin-top: 10px;
  font-weight: 300;
  font-size: 25px;
}

.sidebar-header-search {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-top: 30px;
  min-height: 36px;
  font-size: 14px;
  border: none;
}