.about
  background-size: cover
  padding-bottom: 0
  padding-top: 50px

  .header
    color: transparentize(#000, 0.2)
    font-weight: 400
    margin-top: 40px
    font-size: 30px

  .subheader
    color: transparentize(#000, 0.35)
    margin-top: 12px
    font-size: 20px