.about
  background-size: cover
  padding-bottom: 0
  padding-top: 50px

  .header
    // text-shadow: 1px 1px 3px transparentize(#000, 0.3)
    font-weight: 300
    margin-top: 40px
    font-size: 30px
    color: transparentize(#000, 0.2)

  .subheader
    // text-shadow: 1px 1px 3px transparentize(#000, 0.3)
    margin-top: 12px
    font-size: 20px
    color: transparentize(#000, 0.35)