textview.article
  background-color: #ffffff
  font-size: 16px
  text
    color: transparentize(#000, 0.25)
    background-color: #ffffff
    font-size: 16px

.header
  color: transparentize(#000, 0.2)
  font-size: 25px

.template.Q
  border-left: 4px solid #EEE
  padding-left: 10px
  margin-left: 10px
  margin-top: 10px

  .separated
    border-top: 1px dashed transparentize(#000, 0.9)
    padding-top: 4px
    margin-top: 5px


textview.article
  button.link
    text-decoration: underline
    background: transparent
    margin-bottom: -6px
    color: #2196F3
    border: none
    padding: 0

    &:active
      background-color: #BBDEFB