textview.article
  background-color: #ffffff
  font-size: 16px
  text
    color: transparentize(#000, 0.25)
    background-color: #ffffff
    font-size: 16px

.header
  color: transparentize(#000, 0.2)
  font-size: 25px