textview.article
  background-color: #ffffff
  font-size: 16px
  text
    color: transparentize(#000, 0.25)
    background-color: #ffffff
    font-size: 16px

.header
  color: transparentize(#000, 0.2)
  font-size: 25px

.template.Quote
  border: 1px solid #EEE
  border-left-width: 4px
  border-radius: 4px
  min-width: 700px
  padding: 10px
  margin: 5px

  .separated
    border-top: 1px solid transparentize(#000, 0.9)
    padding-top: 5px
    margin-top: 5px


textview.article
  button.link
    text-decoration: underline
    background: transparent
    margin-bottom: -6px
    color: #2196F3
    border: none
    padding: 0

    &:active
      background-color: #BBDEFB

  @for $i from 1 through 6
    .heading#{$i}
      font-size: 25px - $i
      color: #263238