headerbar.titlebar.app-headerbar
  padding-right: 14px
  padding-left: 14px
  min-height: 38px

  separator
    opacity: 0

  .title
    text-shadow: 0 2px 3px rgba(0,0,0, 0.2)
    color: transparentize(#FFF, 0.25)

  .page-tabs
    .radio
      background-color: transparent
      transition: all 0.2s ease
      border-radius: 0
      font-size: 13px
      border-width: 0
      border-bottom: 2px solid transparent

      &:hover
        border-bottom: 1px solid transparentize(#FFF, 0.98)
        background-color: transparentize(#FFF, 0.9)
      &:checked, &:focus
        border-bottom: 2px solid #FFF
        border-right: none
        border-left: none
        border-top: none

  .headerbar-search
    background-color: transparentize(#FFF, 0.65)
    transition: all 0.2s ease
    border-width: 0
    margin: 6px 0
    color: #FFF

    &:focus
      color: transparentize(#000, 0.2)
      background-color: #FFF
      min-width: 200px
      border-width: 0

// Clearfix size of headerbar
window.ssd headerbar.titlebar
  padding-bottom: 1px
  padding-top: 1px
  min-height: 0

window.ssd headerbar.titlebar button.titlebutton
  padding-bottom: 0px
  padding-top: 0px
  min-height: 0

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator
  margin-bottom: 0px
  margin-top: 0px

.default-decoration
  min-height: 0
  padding: 0px

.default-decoration .titlebutton
  min-height: 26px
  min-width: 26px