.home
  padding-bottom: 0
  padding-top: 50px

  .logo
    margin-top: 25px

  .search
    margin: 30px 50px

    .input
      color: transparentize(#000, 0.25)
      border-bottom-right-radius: 0
      border-top-right-radius: 0
      background-color: #EEEEEE
      padding: 10px 12px
      font-size: 13px
      border: none
    
    .button
      border-bottom-left-radius: 0
      border-top-left-radius: 0
      background-color: #03A9F4
      padding: 10px 12px
      font-size: 12px
      border: none
      color: #FFF

  .label-info
    color: transparentize(#000, 0.6)
    font-size: 13px
  
  .button-wiki-switcher
    background-color: transparentize(#EBEBEB, 0.3)
    color: transparentize(#000, 0.3)
    border-radius: 40px 40px 0 0
    padding: 10px 15px
    font-size: 15px
    border: none