.background.csd
  .sidebar-root
    padding-right: 5px

    .sidebar.vertical
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
      background-color: #323843
      border-right: none
      min-width: 270px

    .sidebar-header
      background-color: saturate(#323843, 10%)
      box-shadow: 0 1px 2px rgba(0,0,0,0.34)
      padding: 30px 25px
      min-height: 120px

      .sidebar-header-label
        text-shadow: 2px 2px 2px rgba(0,0,0,0.15)
        color: rgba(255,255,255, 0.8)

    .sidebar-list
      padding: 20px 0px

      .sidebar-list-button
        border-top: 1px solid rgba(0,0,0, 0.05)
        background-color: transparent
        transition: all 0.3s ease-in
        color: rgba(255,255,255, 0.8)
        padding: 8px 25px
        border-radius: 0
        font-size: 16px
        border: none

        &:active
          background-color: rgba(0,0,0, 0.3)
          border: none
        &:hover
          background-color: rgba(0,0,0, 0.1)

  .home-page, .reader-page
    box-shadow: 0 1px 2px rgba(0,0,0,0.24)
    background-color: #FFFFFF
    border-radius: 3px
    padding: 15px
    margin: 20px

  .reader-page
    .page-title
      color: transparentize(#000, 0.3)
      margin-bottom: 25px
      font-size: 30px
    
    .redirect-link-button
      background-color: transparentize(#EEE, 0.3)
      color: transparentize(#000, 0.2)
      padding: 8px 10px
      border-radius: 0

      border-bottom: 1px solid transparentize(#b8b8b8, 0.6)
      border-right: none
      border-left: none
      border-top: none

      &:first-child
        border-top-right-radius: 3px
        border-top-left-radius: 3px
      &:last-child
        border-bottom-right-radius: 3px
        border-bottom-left-radius: 3px
        border-bottom: none

    .too-big-box
      min-height: 800px